.gradle
.idea
.externalToolBuilders
.project
.settings
*.min.css
/config.json
/npm-debug.log

env.bat

/bower_components/
/coverage/
/coverage-reports/
/node_modules/
/dist/
/build/
/lib/

/projects/base.config.js
/projects/settings.js
/projects/*/js/template.js

/.DS_Store
.DS_Store
/.tern-project
tags
/jstestdriver/
**/jsTestDriver.conf
/bin/
